/*media screen CSS */
@media screen and (max-width:817px) {

   
   
   .wraper-box {
        .box {
            width: 50%;
            margin: 0 auto;
           
        }
        
    }
}

@media screen and (max-width:768px) {
    .wraper-box {
        .box {
            width: 90%;
            margin: 0 auto;
           
        }
        
    }
}

@media screen and (max-width:375px) {
   .wraper-box {
   position: relative;
    top: 40px;
 }
    .wraper-box {
        .box {
           
            height: 515px;
            
        }
        
    }
}
/***/
